div.sourceContainer {
	float:left;
	border: 1px solid black;
	width: 40%;
	font-family: sans-serif;
}

div.key-select{
	display: block;
	padding-bottom: 15px;
}

div.source:focus{
	outline: 0;
}

div.destination {
	float: right;
	border: 1px solid black;
	width: 40%;
	padding-right: 10%;
}