div.sourceContainer {
	float:left;
	width: 40%;
	font-family: sans-serif;
}
textarea.source {
	font-family: monospace;
	border: 1px dashed black;
}
div.key-select{
	display: block;
	padding-bottom: 15px;
}

div.source:focus{
	outline: 0;
}

.destination {
	float: right;
	border: 1px solid black;
	width: 40%;
	padding-right: 10%;
	font-family: monospace;
}
